@model IEnumerable<SON.Models.orders>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ประวัติการสั่งซื้อสินค้า</h2>

<table class="table">
    <tr>
        <th>
            วันที่สั่งซื้อ
        </th>
        <th>
            สถานะการชำระเงิน
        </th>
        <th>
           ชื่อผู้สั่งซื้อ
        </th>
        <th>
            สินค้าที่สั่งซื้อ
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @if (item.status.Equals("2"))
            {
                <a href="#">ยังไม่ชำระเงิน</a>
            }
            else
            {
                <a href="#">ชำระเงินเรียบร้อยแล้ว</a>
            }
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.customers.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.products.ProductName)
        </td>
        <td>
            @Html.ActionLink("ลบข้อมูล", "DelCartHistory", new { id = item.OrderID })
        </td>
    </tr>
}

</table>
